
    <footer>
        <div>
            <p>Av Calle Alexanderson - Kontakta mig via e-post: <a
                    href="mailto:caal2301@student.miun.se">caal2301@@student.miun.se</a></p>
        </div>
    </footer>

@code {
}
