@inherits LayoutComponentBase
<div class="page">

    <header>
        <NavLink class="logo-link"  href="" Match="NavLinkMatch.All">
                     <img class="logo" asp-append-version="true" src="images/placeholder logo.svg" alt="">
                </NavLink>
        
    </header>

    <div class="aside-main-div">
        <div>
            <NavMenu />
        </div>

        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>

    <footer>
        <div>
            <p>Av Calle Alexanderson - Kontakta mig via e-post: <a
                    href="mailto:caal2301@student.miun.se">caal2301@@student.miun.se</a></p>
        </div>
    </footer>
</div>
