header {
    background-color: cadetblue;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
}

header .logo {
    height: 100%;
    border: 1px solid black;
    padding: 4px;
    background-color: white;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
}

footer div {
    width: calc(96vw - 24px);
    padding: 4px;
    margin: 10px auto;
    text-align: center;
    border: 1px solid black;
    background-color: white;
}

footer div p {
    margin: 2px;
}

main {
    background-color: white;
    border: 1px solid black;
    width: 95%;
    margin: 0 auto 50px;
    min-height: calc(100vh - 400px);
}

main div {
    padding: 5px;
}


.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 600px) {

    .aside-main-div {
      display: grid;
      grid-template-columns: 250px auto;
    }    
    
    main {
        height: calc(100vh - 250px);
        margin: 165px 2vw auto 0;
    }
  
    header {
      height: 150px;
    }

    header .logo-link {
      margin: 20px 2vw;
      height: calc(100% - 40px);
      width: 260px;
    }
  
  }
  
  @media only screen and (min-width: 1024px) {
    .aside-main-div {
      display: grid;
      grid-template-columns: 400px auto;
    }
  
  }
  

