ul {
  padding: 0;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

button {
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 80px;
  font-size: 1.3rem;
}

aside {
  background-color: white;
  transition: 0.5s;
}

aside li:first-child {
  border-top: 1px solid black;
}

aside li {
  list-style: none;
  border-bottom: 1px solid black;
  padding: 5px;
  font-size: 1.2rem;
}

aside li:hover {
  background-color: #aacaca;
  transition: 0.25s;
}

aside.hidden {
  margin-top: 80px;
}

aside.shown {
  margin-top: 200px;
}

@media only screen and (min-width: 600px) {

  button {
    visibility: hidden;
  }

  .aside-main-div {
    display: grid;
    grid-template-columns: 250px auto;
  }

  main {
    margin-top: 150px;
  }

  /* Gör så margin-top blir rätt */
  aside.hidden {
    margin-top: 165px;
  }

  aside.shown {
    margin-top: 165px;
  }

  aside {
    height: calc(100vh - 250px);
    margin: 165px 2vw 0;
    border: 1px solid black;
  }

  aside li {
    width: 90%;
    border: 1px solid black;
    margin: 20px auto;
  }

}