<button @onclick="toggleMenu">Öppna</button>
<aside class="@cssClass">
    <nav>
        <ul>
            <li>
                <NavLink  href="" Match="NavLinkMatch.All">
                     Home
                </NavLink>
            </li>
            <li>
                <NavLink  href="counter">
                     Counter
                </NavLink>
            </li>
            <li>
                <NavLink  href="weather">
                     Weather
                </NavLink>
            </li>
        </ul>
    </nav>
</aside>


@code {
     private string? cssClass = "hidden";
    private void toggleMenu() {
        if (cssClass == "hidden") {
            cssClass = "shown";
        } else {
            cssClass = "hidden";
        }
    }
}
