@page "/books"
@inject HttpClient Http

<PageTitle>Böcker</PageTitle>

<h1>Böcker</h1>

<p>Mitt största fritids- intresse/aktivitet är att läsa, jag gillar speciellt fantasy böcker och min favorit författare
    är Sarah J Maas. Här ligger alla hennes verk där jag gett de ett score på vad jag tycker om de </p>

@if (books == null)
{
    <p><em>Laddar...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th class="text-left">Titel</th>
                <th class="text-center">Score</th>
                <th class="text-center">Färdigläst</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Book in books)
            {
                <tr>
                    <td class="text-left">@Book.Title</td>
                    <td class="text-center">@Book.Rating</td>
                    @if (@Book.Finished)
                    {
                        <td class="text-center">Ja</td>
                    }
                    else
                    {
                        <td class="text-center">Nej</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Book[]? books;

    protected override async Task OnInitializedAsync()
    {
        books = await Http.GetFromJsonAsync<Book[]>("sample-data/books.json");
    }

    public class Book
    {
        public string? Title { get; set; }

        public int Rating { get; set; }

        public bool Finished { get; set; }
    }
}
