@page "/convert"

<PageTitle>Konvertering</PageTitle>

<h1>Konvertering </h1>
<p>Konvertera Internationella måttenhetssystemets enheter till imperiala enheter</p>

<div>
    <label>
        Meter:
        <input type="text" @bind="@meter" @onblur="ConvertToFeet">
    </label>
    <p class="converted-p">Feet: @String.Format("{0:F2}", feet)</p>
</div>

<div>

    <label>
        Kilometer per timme:
        <input type="text" @bind="@kmph" @onblur="ConvertToMph">
    </label>
    <p class="converted-p">Miles per hour: @String.Format("{0:F0}", mph)</p>
</div>


@code {
    private double feet { get; set; } = 0;
    private string? meter { get; set; } = "0";
    private double mph { get; set; } = 0;
    private string? kmph { get; set; } = "0";

    private void ConvertToFeet()
    {
        float meterFloat;
        float.TryParse(meter, out meterFloat);
        feet = meterFloat * 3.28084;
    }

    private void ConvertToMph()
    {
        float kmphFloat;
        float.TryParse(kmph, out kmphFloat);
        mph = kmphFloat * 0.6213712;
    }
}
